*{margin:0;padding:0;border:0;}
html{
	background:#2A2F43 url(img/background.jpg) 0 300px;
}
body{
	font-size:12px;
	text-align:center;
	background:url(img/bar.png) 0 172px repeat-x;
	color:#E2E4E9;
	font-family:Microsoft YaHei,Segoe UI,Helvetica,Arial,sans-serif,"ו";
}

p{margin:12px 0 18px 0;}

 .Content-body:nth-child(odd) img {
 	 max-width: 100%;
 	 -webkit-transition: all 0.2s linear;
 	 -webkit-box-shadow:0 0 5px rgba(0,0,0,1);
 	 -moz-box-shadow:0 0 5px rgba(0,0,0,1);
 	 -webkit-border-radius:5px;border-radius:5px;
 	 margin:10px 5px;
 }

 .Content-body:nth-child(odd) img:hover {
 	 -webkit-box-shadow:0 0 5px rgba(200,200,200,0.5);
 	 -moz-box-shadow:0 0 5px rgba(200,200,200,0.5);
 	 -webkit-border-radius:5px;
 	 border-radius:5px;
 }

 select{font-family: Verdana, Arial}
 th{background:#D5CBBE;border-bottom:1px solid #795B50}
 
 
 #lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
 #lightbox img{ width: auto; height: auto;}
 #lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }